/* @import url(http://fonts.googleapis.com/css?family=Merriweather+Sans); */
/* @import url(http://fonts.googleapis.com/css?family=Gabriela); */

/*
  #ffffff
  #cbe86b
  #f2e9e1
  #1c140d
  #cbe86b
*/
body {
    font-family: 'Merriweather Sans', sans-serif;
    /* color: rgba(232,221,203,255); */
    /* border-left: 1px solid #cccccc; */
    /* border-right: 1px solid #cccccc; */
    background: #ececec;
    margin: auto;
}
#banner {
    width: 700px;
    margin: 0  auto;
    background:white;
    padding: 10px;
    -webkit-border-radius: 5px;
}
#realbody {
    width: 750px;
    margin: 0 auto;
    background: white;
    -webkit-border-radius: 5px;
}

#menu {
    padding-top: 15px;
    text-align: center;
    float: right;
    font-weight: bold;
}
#banner {
    margin-bottom: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    text-align:left;
}
#logo {
    font: 30px serif;
    display: inline;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-shadow: 0px 1px 1px #4d4d4d;
    color: #222299;
}

.darkSilver {
    color: #777799;
}
.lightSilver {
    color: #222299;
}
#caption {
    font-size: small;
    vertical-align: top;
    color: #555599;
    font-weight: bold;
    /* padding-right:7px; */
}


#banner small {
    margin-top: 0px;
    padding-top: 0px;
    text-align: right;
}
a {
    text-decoration: none;
    color: #1e4799;
}
.error {
color: #D8000C;
background-color: #FFBABA;
}
h2 {
    font: 30px "Merriweather Sans";
}

table {
    font: 15px "Merriweather Sans";
    margin: 5%;
    margin-bottom: 10px;
}

table,th,td {
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.durationelem {
    text-align:right;
}

.checkelem {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #f7f7f7;
}

th {
    font-weight: bold;
    text-align: left;
}

/* .path { */
/*     font-size: small; */
/*     padding-right: 10px; */
/* } */

/* .bmark { */
/*     padding-left: 10px; */
/* } */